- name: Remove autologon
  community.windows.win_auto_logon:
    state: absent

- name: Change the hostname to {{ inventory_hostname_short }}
  ansible.windows.win_hostname:
    name: "{{ inventory_hostname_short }}"
  register: res

- name: Reboot
  ansible.windows.win_reboot:
  when: res.reboot_required

- name: Get network connection profile
  ansible.windows.win_shell: Get-NetConnectionProfile | Select-Object NetworkCategory | ConvertTo-Json
  register: _result_netprofile

- name: Set fact network profile
  ansible.builtin.set_fact:
    windows_netprofile: "{{ _result_netprofile.stdout | from_json }}"

- name: Debug
  ansible.builtin.debug:
    msg: "{{ windows_netprofile }}"

- name: Set network connection profile to private
  ansible.windows.win_shell: Get-NetConnectionProfile | Set-NetConnectionProfile -NetworkCategory Private
  when: windows_netprofile.NetworkCategory | int != 2

- name: Set the unicode language to English Great Britain, reboot if required
  community.windows.win_region:
    unicode_language: en-US
  register: result

- ansible.windows.win_reboot:
  when: result.restart_required

- name: Windows Server RDP
  block:
    - name: features | Managing Remote Desktop Feature
      win_feature:
        name: Remote-Desktop-Services
        state: present
      register: _windows_remote_desktop_services_enabled
      when: windows_remote_desktop_enabled

    - name: features | Managing Remote Desktop Feature
      win_feature:
        name: Remote-Desktop-Services
        state: absent
      register: _windows_remote_desktop_services_not_enabled
      when: not windows_remote_desktop_enabled

    - name: firewall | Managing Remote Desktop Firewall Settings
      community.windows.win_firewall_rule:
        action: "{{ item['action'] }}"
        description: "{{ item['description']|default(omit) }}"
        direction: "{{ item['direction'] }}"
        enable: "{{ item['enable']|default(omit) }}"
        force: "{{ item['force']|default(omit) }}"
        localip: "{{ item['localip']|default(omit) }}"
        localport: "{{ item['localport'] }}"
        name: "{{ item['name'] }}"
        profiles: "{{ item['profile']|default(omit) }}"
        protocol: "{{ item['protocol'] }}"
        remoteip: "{{ item['remoteip']|default(omit) }}"
        state: "{{ item['state'] }}"
      with_items: "{{ windows_remote_desktop_firewall }}"

    - name: reboot | Rebooting Server
      win_reboot:
        reboot_timeout_sec: 3600
        shutdown_timeout_sec: 3600
      when: >
            (_windows_remote_desktop_services_enabled is defined and
              _windows_remote_desktop_services_enabled['restart_needed'] is defined and
            _windows_remote_desktop_services_enabled['restart_needed']) or
            (_windows_remote_desktop_services_not_enabled is defined and
              _windows_remote_desktop_services_not_enabled['restart_needed'] is defined and
            _windows_remote_desktop_services_not_enabled['restart_needed'])
  when: 
    - ansible_facts.os_product_type is defined
    - ansible_facts.os_product_type == 'server'

- name: Install VMWare Tools
  chocolatey.chocolatey.win_chocolatey:
    name: vmware-tools
  when: ansible_facts.virtualization_type | lower == 'vmware'

- name: Disable IPv6 for a specific network adapter
  community.windows.win_net_adapter_feature:
    interface: "{{ item.connection_name }}"
    component_id: ms_tcpip6
    state: disabled
  loop: "{{ ansible_facts.interfaces }}"

- name: Enable NLA
  ansible.windows.win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp
    name: UserAuthentication
    data: 1
    type: dword

- name: Change power plan to high performance
  community.windows.win_power_plan:
    name: high performance

- name: "Install Microsoft .NET Framework 4.8."
  ansible.windows.win_package:
    path: "{{ ndp_install_url }}"
    product_id: "{16735AF7-1D8D-3681-94A5-C578A61EC832}"
    arguments: '/qn'
  register: dotnet48_installer
  when: dotnet48_enabled

- name: Reboot, only if required
  ansible.windows.win_reboot:
    reboot_timeout: 3600
  when: 
    - dotnet48_installer is defined
    - dotnet48_installer.reboot_required is defined
    - dotnet48_installer.reboot_required
