- name: Disable Windows automatic updates
  ansible.windows.win_regedit:
    path: HKLM:\SOFTWARE\Policies\Microsoft\Windows\WindowsUpdate\AU
    name: NoAutoUpdate
    data: 1
    type: dword

- name: Search windows updates
  ansible.builtin.include_tasks:
    file: search_windows_updates.yml

- name: Install Updates
  ansible.windows.win_updates:
  register: win_reboot_required

- name: Reboot {{ inventory_hostname }}
  win_reboot:
    reboot_timeout: 3600
  when:
    - win_reboot_required.reboot_required
