windows_remote_desktop_enabled: true

windows_remote_desktop_firewall:
  - name: Remote Desktop - Any
    action: allow
    description: Allow Remote Desktop From Any
    direction: in
    enable: true
    force: true
    localport: 3389
    protocol: TCP
    remoteip: any
    state: present

os_basics_linux_default_users:
  - packer

dotnet48_enabled: false
ndp_install_url: https://download.visualstudio.microsoft.com/download/pr/2d6bb6b2-226a-4baa-bdec-798822606ff1/8494001c276a4b96804cde7829c04d7f/ndp48-x86-x64-allos-enu.exe
